.idea
*.aux
*.bcf
*.bib
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.pyc
*.run.xml
*.snm
*.synctex.gz
octave-implementation/octave-workspace
